<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <group id="startup">
                <field id="enable_one_click_login" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enable One-click login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="one_click_login_customer" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Login As</label>
                    <source_model>Serj\OneClickLogin\Model\Config\Source\Customers</source_model>
                    <depends>
                        <field id="enable_one_click_login">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
